@tailwind base;
@tailwind components;

@font-face {
  font-family: 'DINOT';
  src: url('./fonts/DINOT.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINOT';
  src: url('./fonts/DINOT-Medium.otf') format('otf');
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: 'DINOT';
  src: url('./fonts/DINOT-Bold.otf') format('otf');
  font-weight: bold;
  font-style: bold;
}

@tailwind utilities;